buoi_03/bai_1/sinhvien.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <!-- gốc: <sinhviens> -->
  <xs:element name="sinhviens">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="sinhvien" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="hoten" type="xs:string"/>
              <xs:element name="ngaysinh" type="xs:date"/>
              <xs:element name="chuyennganh" type="xs:string"/>
            </xs:sequence>
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
