buoi_02/dtd-buoi_01/benhvien.dtd

<!ELEMENT hospital (appointment+)>
<!ELEMENT appointment (patient, doctor)>
<!ELEMENT patient (name, dob)>
<!ELEMENT doctor (name, specialty)>
<!ELEMENT name (#PCDATA)>
<!ELEMENT dob (#PCDATA)>
<!ELEMENT specialty (#PCDATA)>

<!ATTLIST appointment
    id CDATA #REQUIRED
    date CDATA #REQUIRED
    status CDATA #REQUIRED>

<!ATTLIST patient
    id CDATA #REQUIRED>

<!ATTLIST doctor
    id CDATA #REQUIRED>