buoi_03/bai_2/donhang.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="OrderIdType">
    <xs:restriction base="xs:ID">
      <xs:pattern value="O\d{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="ProductLocalIdType">
    <xs:restriction base="xs:NCName">
      <xs:pattern value="P\d{3}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="order">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="product" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name"     type="xs:string"/>
              <xs:element name="quantity" type="xs:positiveInteger"/>
            </xs:sequence>
            <xs:attribute name="id" type="ProductLocalIdType" use="required"/>

            <xs:attribute name="orderRef" type="xs:IDREF" use="optional"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="id" type="OrderIdType" use="required"/>
    </xs:complexType>

    <xs:unique name="UniqueProductIdPerOrder">
      <xs:selector xpath="product"/>
      <xs:field xpath="@id"/>
    </xs:unique>
  </xs:element>

  <xs:element name="orders">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="order" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>

  </xs:element>

</xs:schema>
