buoi_03/bai_2/student_IDREF.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="school">
    <xs:complexType>
      <xs:sequence>

        <!-- Định nghĩa student -->
        <xs:element name="student" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="name" type="xs:string"/>
              <xs:element name="date" type="xs:date"/>
            </xs:sequence>
            <!-- ID duy nhất cho mỗi sinh viên -->
            <xs:attribute name="id" type="xs:ID" use="required"/>
          </xs:complexType>
        </xs:element>

        <!-- Định nghĩa enrollment, tham chiếu đến student bằng IDREF -->
        <xs:element name="enrollment" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="studentRef" type="xs:IDREF" use="required"/>
            <xs:attribute name="course" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>

      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>
